* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Lobster", sans-serif;
  font-size: 16px;
  margin-top: 10px;
}

.text {
  margin: 90px 20px;
  padding: 5px 5px 5px 10px;
  border: 2px solid blue;
  border-radius: 15px;
}

.container {
  width: 1200px;
  height: 750px;
  border: 4px solid rgb(4, 4, 199);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(180deg, white 30%, rgb(219, 237, 248));
}

.narrative {
  width: 500px;
}

svg {
  width: 400px;
  position: absolute;
  left: 50px;
  bottom: 5px;
}

.game {
  width: 500px;
}

.lives p {
  display: inline-block;
  font-size: 20px;
  margin-left: 20px;
  padding-top: 20px;
}

.lives {
  display: flex;
  justify-content: space-between;
}

.replay {
  padding: 10px 20px;
  font-family: "Lobster", sans-serif;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgb(48, 47, 47);
  background: #3e90a3;
  color: white;
}

.replay:hover {
  transform: translateY(-5%);
  color: yellow;
}

.board {
  width: 500px;
  text-align: center;
  margin: 130px 25px 70px 0px;
}

.board div {
  display: inline-block;
  font-size: 70px;
}

#message {
  font-size: 13px;
}

.guess-box {
  text-align: center;
}

.guess-box input {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid rgb(48, 47, 47);
  font-family: "Poppins", sans-serif;
}

.guess-box button {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid rgb(48, 47, 47);
  background: #eed868;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.guess-box button:hover {
  transform: translateY(-3%);
}

.guess-box button:focus {
  outline: none;
  border: 1px solid rgb(48, 47, 47);
}

.past-guess {
  height: 180px;
  margin-top: 80px;
  margin-left: 20px;
  font-size: 18px;
  border: 2px solid blue;
  border-radius: 10px;
}

.past-guess p {
  margin-top: 5px;
}

#guessed {
  height: 100px;
  font-size: 35px;
  padding: 30px 0;
  text-align: center;
}

#guessed div {
  display: inline-block;
  padding: 5px;
}

/* ANIMATION */

#dot1 {
  animation: dots 2s infinite;
  animation-delay: 0s;
}

#dot2 {
  animation: dots 2s infinite;
  animation-delay: 0.3s;
}

#dot3 {
  animation: dots 2s infinite;
  animation-delay: 0.6s;
}

@keyframes dots {
  0% {
    opacity: 0;
  }
  100% {
    opactiy: 1;
  }
}

#plantdot {
  animation: bounce 5s infinite;
  animation-delay: 3s;
}

@keyframes bounce {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(3%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1100px) {
  .container {
    width: 800px;
  }

  .game {
    width: 400px;
  }

  .narrative {
    width: 400px;
  }

  .past-guess {
    width: 300px;
  }

  .board {
    width: 400px;
  }

  .board div {
    font-size: 60px;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    width: 600px;
  }

  .game {
    width: 250px;
  }

  .narrative {
    width: 250px;
  }

  .past-guess {
    width: 250px;
  }

  .board {
    width: 250px;
  }

  .board div {
    font-size: 40px;
  }

  svg {
    width: 200px;
    position: absolute;
    top: 50%;
  }

  .lives p {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 12px;
    margin: 10px 0px;
  }

  .text {
    margin: 0px;
    padding: 5px;
    font-size: 12px;
    width: 250px;
    position: absolute;
    top: 5%;
    right: 7%;
  }

  .container {
    width: 300px;
    height: 700px;
    position: relative;
    display: block;
  }

  .narrative {
    width: 300px;
  }

  svg {
    width: 200px;
    top: 100px;
  }

  .game {
    width: 300px;
    position: absolute;
    top: 50%;
  }

  .lives p {
    display: none;
  }

  .lives {
    display: flex;
    justify-content: space-between;
  }

  .replay {
    font-size: 12px;
    margin-top: 10px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
  }

  .board {
    width: 270px;
    text-align: center;
    padding: 20px 0px;
    margin: 80px 10px;
  }

  .board div {
    display: inline-block;
    font-size: 40px;
  }

  #message {
    font-size: 13px;
  }
  .past-guess {
    display: none;
  }
}
